*{
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html{
  height: 100%;
}

#root{
  height: 100%;
  background-color: black;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.game-container{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  height: 100%;
}